<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mmm.mddfamily">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Information"
            android:label="เกี่ยวกับโรคซึมเศร้า" />
        <activity
            android:name=".Content"
            android:label="บทความที่น่าสนใจ" />
        <activity
            android:name=".AppSettings"
            android:label="@string/setting" />
        <activity
            android:name=".AddQuote"
            android:label="@string/teachai" />
        <activity
            android:name=".Comment"
            android:label="@string/comment" />
        <activity
            android:name=".AppInfo"
            android:label="@string/appinfo" />
        <activity
            android:name=".DevInfo"
            android:label="@string/developerinfo" />
        <activity
            android:name=".AI_choose"
            android:label="ตัวคู่สนทนา"/>
        <activity
            android:name=".WatsonChatroom"
            android:label="พูดคุย" />
        <activity
            android:name=".WatsonChatroom_ani"
            android:label="พูดคุย" />
        <activity
            android:name=".QuestionnaireActivity"
            android:label="แบบทดสอบประเมินโรคซึมเศร้า"/>
        <activity
            android:name=".Q1"
            android:label="แบบทดสอบประเมินโรคซึมเศร้า"/>
        <activity
            android:name=".Q2"
            android:label="แบบทดสอบประเมินโรคซึมเศร้า"/>
        <activity
            android:name=".Q3"
            android:label="แบบทดสอบประเมินโรคซึมเศร้า"/>
        <activity
            android:name=".Q4"
            android:label="แบบทดสอบประเมินโรคซึมเศร้า"/>
        <activity
            android:name=".Q5"
            android:label="แบบทดสอบประเมินโรคซึมเศร้า"/>
        <activity
            android:name=".Q6"
            android:label="แบบทดสอบประเมินโรคซึมเศร้า"/>
        <activity
            android:name=".Q7"
            android:label="แบบทดสอบประเมินโรคซึมเศร้า"/>
        <activity
            android:name=".Q8"
            android:label="แบบทดสอบประเมินโรคซึมเศร้า"/>
        <activity
            android:name=".Q9"
            android:label="แบบทดสอบประเมินโรคซึมเศร้า"/>
        <activity
            android:name=".Q_Result"
            android:label="แบบทดสอบประเมินโรคซึมเศร้า"/>
    </application>

</manifest> <!-- android:theme="@style/AppTheme" -->
